body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.firstpage{
    width: 100%;
    height: 100%;
    background: url("../img/header-bg.jpg");
    background-size: cover;

}
.navbar h1{ 
    color: #f9f8f78d;
    margin-left: 60px;
    margin-top: 40px;
        float: left;
        
}
.navbar a{
    font-size: 20px;
    color: #f9f8f7a0;
    margin-right: 60px;
    margin-top: 40px;
    float: right;
    text-decoration: none;

}
.text{
    width: 700px;
    padding-left: 25%;
    padding-top: 15%;
    text-align: center;
    font-size: xx-large;
}
.btn{
    width: 220px;
    height: 60px;
    color: #ffffff;
    background-color: #ffc800;
    border-radius: 10px;
    border: none;
    transition: 0.8;
}
.btn:hover{

    background-color: #e9bf0495;
}

.text2{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
.txt2t{
margin-top: 5%;
  display: flex;
  justify-content: space-between;

}
 .txt2a{
    font-size: 60px;
 }


.text3{
    text-align: center;
    width: 100%;
     margin: auto;
    padding-top: 100px;
    margin-right:100%;
}
.txt-3{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.humble{
    width: 25%;
    float: left;
    margin-left: 10%;
    text-align: right;
}
.march{
    width: 25%;
    float: right;
    margin-right: 10% ;
    text-align: left;
}
.december{
    width: 25%;
    float: left;
    margin-left: 10%;
    text-align: right;
}
.july{
    width: 25%;
    float: right;
    margin-right: 10% ;
    text-align: left;
}


.img{width: 20%;
    margin-left:40%;
    margin-right: 40%;
    text-align: center;
    border-radius:200px;
}


.text5{width: 100%;
    background: url("./src/img/map-image.png");
    background-size: cover;
}
    .text5 input{
   width: 40%;
        height: 60px;
    
    }
    .txt5{

        border-radius: 10px;
    float: left;}
    .text5t{
        float: right;
    }
        .btn5{
            width: 300px;
            height: 50px;
            color: #ffffff;
            background-color: #ff0000;
            border-radius: 20px;
            border: none;
            transition: 0.8;
        }
        .btn5:hover{
   
            background-color: #ff000095;
        }
        
