body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.firstpage{
    width: 100%;
    height: 100%;
    background: url("../img/header-bg.jpg");
    background-size: cover;

}
.navbar h1{ 
    color: #f9f8f78d;
    margin-left: 60px;
    margin-top: 40px;
        float: left;
        
}
.navbar a{
    font-size: 20px;
    color: #f9f8f7a0;
    margin-right: 60px;
    margin-top: 40px;
    float: right;
    text-decoration: none;

}
.text{
    width: 700px;
    padding-left: 25%;
    padding-top: 15%;
    text-align: center;
    font-size: xx-large;
}
.btn{
    width: 220px;
    height: 60px;
    color: #ffffff;
    background-color: #ffc800;
    border-radius: 10px;
    border: none;
    transition: 0.8;
}
.btn:hover{

    background-color: #e9bf0495;
}

.text2{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
.txt2t{
margin-top: 5%;
  display: flex;
  justify-content: space-between;

}
 .txt2a{
    font-size: 60px;
 }



        
        /* new */
        .portfolio-list {
            display: flex;
            flex-wrap: wrap;

        }

        .col {
            flex: 0 0 auto;
            width: 33.33333333%;
        }

        .portfolio-item {
            max-width: 26rem;
            margin-left: auto;
            margin-right: auto;
        }

        img.img-fluid {
            max-width: 100%;
            height: auto;
        }

        .text-center {
            text-align: center;
        }

        .portfolio {
            font-size: 2.5rem;
            margin-top: 0;
            margin-bottom: 1rem;

        }

        .portfoliotext {
            font-size: 1rem;
            font-weight: 400;
            font-style: italic;
            margin-bottom: 4rem;
        }

        .container {
        padding-top: 6em;
        padding-bottom: 6em;
    }
    
    .portfolio-caption {
        padding: 1.5rem;
        text-align: center;
        background-color: #fff;
    }

    .portfoliotitle {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .portfolioscan {
        font-style: italic;

    }



    .container{

        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .text-center{text-align: center;}

   .timeline-panel1 {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;}

        .timeline-panel2 {
            float: right;
            width: 41%;
            padding: 0 20px 20px 30px;
            text-align: left;}
     .timeline-image2{

        text-align: right;
     }
        
        .timeline{
            list-style: none;
        }

       

        .team-cont {
            justify-content: center;
            clear: both;
            text-align: center;
            padding-top: 60px;
            padding: 50px 0;
            flex-wrap: wrap;
            background-color: #F8F9FA;
        }
        
        .team-memb-style {
            display: flex;
            justify-content: center;
        
        }
        
        .team-member {
            text-align: center;
            margin: 20px;
            flex: 1;
            max-width: 500px;
        }
        
        .circle img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .team-member h2 {
            margin: 0;
            font-size: 1.5rem;
        }
        
        .team-member p {
            margin: 0;
            color: #666;
        }
        
        .section-heading {
            margin-bottom: 20px;
        }
        
        .section-subheading {
            margin-bottom: 50px;
        }
        
        .team-member img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            border: 0.5rem solid rgba(0, 0, 0, 0.1);
            object-fit: cover;
            margin: 0 auto 15px;
        }
        
        .large {
            font-size: 1.25rem;
        }
        
        .social-icons {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        
        .social-icon {
            font-size: 24px;
            color: #333;
            margin: 0 10px;
            transition: color 0.3s;
        }
        
        .social-icon:hover {
            color: #007bff;
        }
        
        .team-cont p {
            padding-top: 25px;
        }
        
        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            text-align: center;
            padding-bottom: 20px;
        }
        
        .logo-container img {
            max-width: 300px;
            margin: 0 30px;
            padding: 0px 25px;
            padding-bottom: 20px;
        }
        
        .contact-container {
            align-items: center;
            height: 45vh;
            padding: 0;
        }
        
        .contact-form {
            background-image: url('https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png');
            background-size: cover;
            background-position: center;
            background-color: #212529;
            padding: 20px;
            border-radius: 0px;
            color: white;
        }
        
        .contact-form h2 {
            margin-top: 0;
        }
        
        .contact-form input[type="text"],
        .contact-form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            background: rgba(255, 255, 255, 0.1);
            color: white;
        }
        
        .contact-form textarea {
            height: 100px;
        }
        
        .contact-form input[type="submit"] {
            background-color: #FFC800;
            color: white;
            border: none;
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
            border-radius: 5px;
        }
        